[MASTER]
ignore=_version.py,teensypower.py

[MESSAGES CONTROL]
enable=W3101
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0904,  # too-many-public-methods
    R0914,  # too-many-locals
